table {border-collapse:collapse;
  border:5px solid;
  margin:auto;
}

th {border: 2px black solid;
  font-style: normal;
  text-align:center;
  padding: 5px 5px 5px 5px;
  background-color: rgb(242, 196, 242);
  color:blue;}

.time{border:2px black solid;
  font-style:normal;
  text-align:center;
  padding: 5px 5px 5px 5px;
  font-weight:bold;
  background-color:rgb(166, 221, 221);
  color:blueviolet;}

td {border:2px rgb(26, 2, 59) solid;
border-collapse:collapse;
text-align:center;
background-color:#f499b7;
font-family:Georgia,serif;
padding: 10px 10px 10px 10px;
font-weight:bold;
color:black;}

td:empty{background-color:rgb(230, 163, 74);}

h1 {font-family:Arial, Helvetica, sans-serif;
color:rgb(85, 3, 162);}

h2{font-family:garamond, serif;
color:rgb(150, 23, 152);}

a:link {
  color:rgb(52, 101, 226);
  background-color: transparent;
  text-decoration:none;}

a:visited {
  color:rgb(207, 36, 36);
  }

a:active {
  color:green;
  text-decoration:underline overline;
}

a:hover{
  background-color:bisque;}

a{cursor:grab;}

caption{font-weight:bold;
font-size:32px;
color:rgb(96, 76, 226);
}
.exercise {width:100px; 
border-radius:20%;}

.study{width:200px;
padding-top: 5px;
border-radius:20%;}

.friends{width:250px;
  padding-top: 5px;
  border-radius:20%;}

.TV{width:200px;
padding-top: 5px;
border-radius:20%;}

.library{width:150px;
padding-top: 5px;
border-radius:20%;}

.img-heading {padding-top:5px;}